footer
  .container.text-center
    p.pull-left © 2017 Return 0 Software, LLC. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/Return0Software/Social-Scheduler' target='blank') GitHub Project
      li
        a(href='https://github.com/Return0Software/Social-Scheduler/issues' target='blank') Issues
